@use "../variables" as *;
$nav-item-height: 2.5rem;

nav.nav-main {
  --nav-width: 14rem;
  width: var(--nav-width);
  z-index: 5;
  transition: padding 0.3s ease, border-right-color 0.3s ease, width 0.3s ease, transform 0.3s ease;
  overflow: hidden;

  &.sidebar-closed {
    --nav-width: 0;
    z-index: 5;
    transition: padding 0.3s ease, border-right-color 0.3s ease, width 0.3s ease, transform 0.3s ease;
  }

  .nav-contain {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--nav-width);
    grid-column: 1 / 2;
    z-index: 5;
    border-right: 1px solid var(--border-color);
    background-color: hsl(var(--bg-secondary-val));
    background-image: linear-gradient(
            to right,
            hsl(var(--bg-secondary-val)),
            hsl(var(--bg-primary-val) / 0.2)
    );
    padding: 3.5rem 0 1rem 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
    transition: padding 0.3s ease, border-right-color 0.3s ease, width 0.3s ease, transform 0.3s ease;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 14rem;
      overflow-x: hidden;
      overflow-y: auto;
      transition: width 0.3s ease, opacity 0.3s ease;
      flex-grow: 1;

      li {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid var(--border-color);


        a {
          color: var(--tx-primary);
          text-decoration: none;
          align-content: center;
          height: $nav-item-height;
          display: block;
          transition: 0.2s ease;
          text-indent: 1rem;
          box-shadow: inset 0 0 0 var(--primary-color);
          width: 100%;

          &:hover {
            color: var(--primary-color);
            box-shadow: inset 4px 0 0 var(--primary-color);
          }

          &.active {
            color: var(--primary-color);
            box-shadow: inset 4px 0 0 var(--primary-color);
          }
        }

        span {
          color: var(--tx-primary);
          text-decoration: none;
          display: block;
          transition: 0.2s ease;
          align-content: center;
          text-indent: 1rem;
          width: 100%;
          cursor: pointer;
          height: $nav-item-height;

          svg {
            transition: transform 0.2s ease;
            transform: translateY(-.1rem) rotate(-90deg);

            &.open {
              transform: rotate(0deg);
            }
          }
        }

        .sub-nav-container {
          overflow: hidden;
          transition: height 0.3s ease;

          ul {
            background-color: var(--bg-primary);


            a {
              padding-left: 1rem;
            }
          }
        }
      }
    }

    ul.nav-external {
      flex-grow: 0;
      padding-top: 0.5rem;
      margin-top: auto;


      li {
        &:first-of-type {
          border-top: 1px solid var(--border-color);
        }

        a {
          font-size: 0.85rem;
          text-indent: 1rem;
        }
      }
    }


    .license-note {
      font-size: 0.85rem;
      color: var(--tx-secondary);
      display: block;
      width: 14rem;
      overflow-x: hidden;
      overflow-y: hidden;
      span, .copyright {
        $padding-inline: 1.2em;
        $padding-block: .5em;
        padding: $padding-block $padding-inline 0 $padding-inline;
        display: block;
        .link {
          color: var(--tx-secondary);
          text-decoration: none;
          box-shadow: inset 0 -0.0625rem 0 transparent;
          transition: color 0.1s ease, box-shadow 0.1s ease;

          span {
            display: inline-block;
          }

          &:hover,
          &:focus-visible {
            color: var(--primary-color);
            box-shadow: inset 0 -0.0625rem 0 var(--primary-color);
          }
        }
      }

    }


  }
}

@media screen and (max-width: 768px) {
  nav.nav-main {
    .nav-contain {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      margin-top: 5rem;
      z-index: 10;
      padding-top: 1rem;

      ul {
        flex-grow: 1;
      }
    }
  }


}

