nav.nav-main {
  --nav-width: 14rem;
  width: var(--nav-width);
  transition: width 0.3s ease, transform 0.3s ease;

  &.sidebar-closed {
    --nav-width: 0;
    transform: translateX(-100%);

    .nav-contain {
      width: 0;
    }
  }

  .nav-contain {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--nav-width);
    grid-column: 1 / 2;
    z-index: 5;
    border-right: 1px solid var(--border-color);
    background-color: hsl(var(--bg-secondary-val));
    background-image: linear-gradient(
            to right,
            hsl(var(--bg-secondary-val)),
            hsl(var(--bg-primary-val) / 0.2)
    );
    padding: 3.5rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: padding 0.3s ease, border-right-color 0.3s ease, width 0.3s ease, transform 0.3s ease;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: auto;
      overflow-x: hidden;
      overflow-y: auto;
      transition: width 0.3s ease, opacity 0.3s ease;
      flex-grow: 1;

      li {
        padding: 0;
        margin: 0;

        a {
          color: var(--tx-primary);
          text-decoration: none;
          padding-block: .5rem;
          display: block;
          transition: 0.2s ease;
          text-indent: 1rem;
          box-shadow: inset 0 0 0 var(--primary-color);
          width: 100%;

          &:hover {
            color: var(--primary-color);
            box-shadow: inset 4px 0 0 var(--primary-color);
          }

          &.active {
            color: var(--primary-color);
            box-shadow: inset 4px 0 0 var(--primary-color);
          }
        }

        span {
          color: var(--tx-primary);
          text-decoration: none;
          padding-block: .5rem;
          display: block;
          transition: 0.2s ease;
          text-indent: 1rem;
          width: 100%;
        }

        ul {
          background-color: var(--bg-primary);

          a {
            padding-left: 1rem;
          }
        }
      }
    }

    ul.nav-external {
      flex-grow: 0;
      width: var(--nav-width);
      border-top: 0.0625rem solid hsl(var(--border-color-val));
      padding-top: 0.5rem;
      margin-top: auto;

      li a {
        font-size: 0.85rem;
        text-indent: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav.nav-main {

    .nav-contain {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      margin-top: 5rem;
      z-index: 10;
      padding-top: 1rem;

      ul {

        flex-grow: 1;
      }
    }
  }


}

