dist
.wrangler
.output
.vercel
.netlify
.vinxi
.nitro
.cache
.solid
.turbo
build
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
/.junie
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
